<div class="w-fit">
    <div class="p-4 rounded-lg dark:border-gray-700">
       <div class="grid lg:grid-cols-4 lg:gap-5 md:grid-cols-2 sm:grid-cols-1">
          <div class="border-2 p-4 mt-4 border-gray-200 border-dashed rounded h-fit">      
  <ul class="space-y-4 divide-y divide-gray-200">
    <li (click)="onProductChange('0')" [ngClass]="selectedField == 0 ? 'bg-blue-600 p-3 text-slate-50' : ''"  style="cursor: pointer;">
        <p class="mt-2 font-normalt  dark:text-gray-400">All Categories</p>
    </li>
    <li [ngClass]="selectedField == category.id ? 'bg-blue-600 p-3 text-slate-50' : ''"  *ngFor="let category of categories" (click)="onProductChange(category.id)" style="cursor: pointer;" >
        <p class="mt-2 font-normalt  dark:text-gray-400">{{category.type}}</p>
    </li>
</ul>
          </div>
            <section  class="col-span-3 mx-auto  grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-10 gap-x-4 mt-4 mb-5">
                <div *ngFor="let product of products" class="w-50 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
                    <a href="#">
                        <img src="https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="Product" class="w-72 object-cover rounded-t-xl" />
                        <div class="px-4 py-3 ">
                            <span class="text-gray-400 mr-3 uppercase text-xs">{{product.category.type}}</span>
                            <p class="text-lg font-bold text-black truncate block capitalize">{{product.name}}</p>
                            <div class="flex items-center">
                                <p class="text-lg font-semibold text-black cursor-auto my-3">${{product.price}}</p>
                                <div class="ml-auto">
                                    <a (click)="onProductAdd(product.id)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
          </div>
       </div>
    </div>




